In [118]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [119]:
tourney_df = pd.read_csv("tourney_clean.csv")
tourney_df.head()

,winning_team,losing_team,season,winning_team.1,winning_score,losing_team.1,losing_score,Wfgm,Wfga,Wfgm3,...,Lfga,Lfgm3,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl
0,UNC Asheville,TX Southern,2003,1421,92,1411,84,32,69,11,...,67,12,31,14,31,17,28,16,15,5
1,Arizona,Vermont,2003,1112,80,1436,51,31,66,7,...,64,4,16,7,7,8,26,12,17,10
2,Arizona St,Memphis,2003,1113,84,1272,71,31,59,6,...,69,7,28,14,21,20,22,11,12,2
3,C Michigan,Creighton,2003,1141,79,1166,73,29,53,3,...,60,7,17,12,17,14,17,20,21,6
4,California,NC State,2003,1143,76,1301,74,27,64,7,...,56,9,21,15,20,10,26,16,14,5

In [120]:
tourney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 29 columns):
winning_team      847 non-null object
losing_team       847 non-null object
season            847 non-null int64
winning_team.1    847 non-null int64
winning_score     847 non-null int64
losing_team.1     847 non-null int64
losing_score      847 non-null int64
Wfgm              847 non-null int64
Wfga              847 non-null int64
Wfgm3             847 non-null int64
Wfga3             847 non-null int64
Wftm              847 non-null int64
Wfta              847 non-null int64
Wor               847 non-null int64
Wdr               847 non-null int64
Wast              847 non-null int64
Wto               847 non-null int64
Wstl              847 non-null int64
Lfgm              847 non-null int64
Lfga              847 non-null int64
Lfgm3             847 non-null int64
Lfga3             847 non-null int64
Lftm              847 non-null int64
Lfta              847 non-null int64
Lor               847 non-null int64
Ldr               847 non-null int64
Last              847 non-null int64
Lto               847 non-null int64
Lstl              847 non-null int64
dtypes: int64(27), object(2)
memory usage: 192.0+ KB

In [121]:
 tourney_df['Winning_field_goal_percent'] = tourney_df['Wfgm']/tourney_df['Wfga']*100
 tourney_df['Winning_field_goal_percent'].head()

0    46.376812
1    46.969697
2    52.542373
3    54.716981
4    42.187500
Name: Winning_field_goal_percent, dtype: float64

In [122]:
tourney_df['Winning_3_percent'] = tourney_df['Wfgm3']/tourney_df['Wfga3']*100
tourney_df['Winning_3_percent'].head()

0    37.931034
1    30.434783
2    42.857143
3    42.857143
4    35.000000
Name: Winning_3_percent, dtype: float64

In [123]:
tourney_df['Winning_free_throw_percent'] = tourney_df['Wftm']/tourney_df['Wfta']*100
tourney_df['Winning_free_throw_percent'].head()

0    65.384615
1    78.571429
2    72.727273
3    72.000000
4    65.217391
Name: Winning_free_throw_percent, dtype: float64

In [124]:
tourney_df['Winning_total_rebounds'] = sum(tourney_df['Wor'],tourney_df['Wdr'])
tourney_df['Winning_total_rebounds'].head()

0    9226
1    9232
2    9223
3    9216
4    9216
Name: Winning_total_rebounds, dtype: int64

In [125]:
tourney_df['Losing_field_goal_percent'] = tourney_df['Lfgm']/tourney_df['Lfga']*100
tourney_df['Losing_field_goal_percent'].head()

0    43.283582
1    31.250000
2    36.231884
3    45.000000
4    44.642857
Name: Losing_field_goal_percent, dtype: float64

In [126]:
tourney_df['Losing_3_percent'] = tourney_df['Lfgm3']/tourney_df['Lfga3']*100
tourney_df['Losing_3_percent'].head()

0    38.709677
1    25.000000
2    25.000000
3    41.176471
4    42.857143
Name: Losing_3_percent, dtype: float64

In [127]:
tourney_df['Losing_free_throw_percent'] = tourney_df['Lftm']/tourney_df['Lfta']*100
tourney_df['Losing_free_throw_percent'].head()

0     45.161290
1    100.000000
2     66.666667
3     70.588235
4     75.000000
Name: Losing_free_throw_percent, dtype: float64

In [128]:
tourney_df['Losing_total_rebounds'] = sum(tourney_df['Lor'],tourney_df['Ldr'])
tourney_df['Losing_total_rebounds'].head()

0    9712
1    9710
2    9706
3    9701
4    9710
Name: Losing_total_rebounds, dtype: int64

In [129]:
tourney_df2 = tourney_df[['season','winning_team','winning_score',\
         'losing_team','losing_score','Winning_field_goal_percent','Winning_3_percent','Winning_free_throw_percent'\
         ,'Winning_total_rebounds','Wast','Wto','Wstl','Losing_field_goal_percent','Losing_3_percent','Losing_free_throw_percent'\
        ,'Losing_total_rebounds','Last','Lto','Lstl']].copy()

In [130]:
tourney_df2

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Wast,Wto,Wstl,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Last,Lto,Lstl
0,2003,UNC Asheville,92,TX Southern,84,46.376812,37.931034,65.384615,9226,17,12,5,43.283582,38.709677,45.161290,9712,16,15,5
1,2003,Arizona,80,Vermont,51,46.969697,30.434783,78.571429,9232,22,16,10,31.250000,25.000000,100.000000,9710,12,17,10
2,2003,Arizona St,84,Memphis,71,52.542373,42.857143,72.727273,9223,18,9,7,36.231884,25.000000,66.666667,9706,11,12,2
3,2003,C Michigan,79,Creighton,73,54.716981,42.857143,72.000000,9216,15,18,13,45.000000,41.176471,70.588235,9701,20,21,6
4,2003,California,76,NC State,74,42.187500,35.000000,65.217391,9216,17,13,8,44.642857,42.857143,75.000000,9710,16,14,5
5,2003,Connecticut,58,BYU,53,32.692308,28.571429,74.074074,9225,8,14,3,31.250000,11.764706,84.615385,9710,11,11,8
6,2003,Duke,67,Colorado St,57,35.185185,30.769231,80.645161,9223,4,16,10,33.333333,27.272727,81.818182,9708,8,19,5
7,2003,Gonzaga,74,Cincinnati,69,42.553191,42.857143,75.675676,9224,12,12,2,39.393939,37.037037,70.000000,9706,13,10,7
8,2003,Illinois,65,WKU,60,42.857143,35.714286,85.714286,9219,15,14,11,37.931034,33.333333,61.538462,9702,10,14,6
9,2003,Kansas,64,Utah St,61,54.901961,33.333333,54.545455,9216,13,11,8,41.071429,35.294118,90.000000,9703,13,13,6
10,2003,Marquette,72,Holy Cross,68,43.137255,56.250000,82.608696,9216,14,10,4,44.444444,33.333333,60.000000,9704,14,9,4
11,2003,Missouri,72,S Illinois,71,53.846154,38.461538,61.111111,9228,7,23,4,40.000000,42.105263,52.380952,9702,19,13,6
12,2003,Notre Dame,70,WI Milwaukee,69,42.592593,23.076923,84.000000,9229,7,20,6,34.848485,34.782609,75.000000,9707,15,12,11
13,2003,Oklahoma,71,S Carolina St,54,46.153846,55.555556,54.166667,9220,16,14,8,40.384615,30.000000,75.000000,9706,8,18,7
14,2003,Stanford,77,San Diego,69,45.312500,33.333333,73.333333,9225,16,14,4,32.786885,22.222222,78.125000,9709,7,11,3
15,2003,Tulsa,84,Dayton,71,57.894737,66.666667,76.923077,9222,18,12,6,42.424242,32.142857,66.666667,9700,11,11,3
16,2003,Wisconsin,81,Weber St,74,53.448276,37.500000,59.090909,9220,16,9,7,40.845070,29.166667,60.000000,9705,9,10,4
17,2003,Auburn,65,St Joseph's PA,63,43.859649,38.888889,61.538462,9220,11,15,4,37.288136,25.000000,81.250000,9705,11,12,8
18,2003,Butler,47,Mississippi St,46,38.297872,27.777778,75.000000,9215,5,8,3,36.363636,28.571429,57.142857,9706,10,10,6
19,2003,Florida,85,Sam Houston St,55,52.459016,46.428571,57.142857,9227,24,10,6,33.333333,33.333333,61.111111,9709,10,16,1
20,2003,Indiana,67,Alabama,62,38.775510,38.888889,84.615385,9218,15,8,1,42.307692,41.666667,81.250000,9704,13,8,2
21,2003,Kentucky,95,IUPUI,64,61.538462,50.000000,45.454545,9221,22,13,7,36.666667,26.666667,72.727273,9702,10,19,7
22,2003,Louisville,86,Austin Peay,64,50.000000,33.333333,61.538462,9225,18,12,12,44.444444,9.523810,63.636364,9705,11,18,5
23,2003,Maryland,75,UNC Wilmington,73,50.000000,52.631579,73.333333,9223,17,13,3,36.363636,44.827586,76.923077,9703,16,8,7
24,2003,Michigan St,79,Colorado,64,46.428571,53.846154,80.000000,9224,16,11,5,43.333333,35.714286,41.176471,9707,9,13,6
25,2003,Oklahoma St,77,Penn,63,54.000000,35.000000,57.142857,9211,15,11,12,48.780488,44.444444,93.750000,9697,17,18,5
26,2003,Pittsburgh,87,Wagner,61,55.932203,56.250000,57.142857,9219,22,9,14,41.176471,33.333333,66.666667,9704,13,19,6
27,2003,Purdue,80,LSU,56,51.923077,56.250000,89.473684,9221,7,19,9,33.333333,23.076923,58.823529,9702,7,16,7
28,2003,Syracuse,76,Manhattan,65,57.692308,36.363636,80.000000,9224,16,18,5,36.065574,28.571429,83.333333,9698,16,11,9
29,2003,Texas,82,UNC Asheville,61,50.000000,37.500000,70.000000,9224,15,14,6,37.096774,23.809524,83.333333,9700,5,11,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,2015,Kentucky,64,Cincinnati,51,37.037037,26.666667,71.428571,9222,10,7,7,31.746032,14.285714,64.285714,9708,5,14,4
818,2015,NC State,71,Villanova,68,45.283019,27.272727,74.074074,9228,11,10,2,31.147541,32.142857,91.304348,9704,7,5,5
819,2015,North Carolina,87,Arkansas,78,45.000000,40.000000,78.378378,9221,14,16,13,36.923077,32.000000,81.481481,9703,17,21,9
820,2015,Notre Dame,67,Butler,64,43.137255,30.000000,77.272727,9227,9,13,4,33.333333,30.769231,85.714286,9707,8,7,8
821,2015,UCLA,92,UAB,75,60.344828,55.555556,68.000000,9222,17,13,4,43.939394,46.153846,50.000000,9698,17,8,5
822,2015,Utah,75,Georgetown,64,57.894737,57.142857,71.875000,9217,12,9,3,43.636364,36.000000,77.777778,9701,9,9,6
823,2015,Xavier,75,Georgia St,67,67.647059,53.846154,88.000000,9214,13,14,3,56.521739,42.857143,69.230769,9692,17,8,8
824,2015,Duke,68,San Diego St,49,54.545455,42.857143,100.000000,9224,16,9,7,32.758621,15.384615,81.818182,9704,5,11,6
825,2015,Gonzaga,87,Iowa,68,61.538462,62.500000,61.904762,9223,20,11,4,46.666667,33.333333,70.000000,9699,10,11,4
826,2015,Louisville,66,Northern Iowa,53,45.833333,45.454545,80.952381,9216,11,7,2,39.130435,31.578947,84.615385,9701,9,10,2
827,2015,Michigan St,60,Virginia,54,42.500000,50.000000,60.606061,9221,7,6,4,29.824561,11.764706,69.230769,9705,6,5,2
828,2015,Oklahoma,72,Dayton,66,44.897959,50.000000,79.166667,9221,13,15,9,43.137255,52.380952,84.615385,9703,12,13,8
829,2015,West Virginia,69,Maryland,59,40.000000,36.842105,73.684211,9214,11,10,15,47.727273,42.105263,69.230769,9708,7,23,4
830,2015,Wichita St,78,Kansas,65,49.019608,50.000000,75.000000,9223,13,12,10,35.087719,28.571429,82.608696,9708,8,14,8
831,2015,Wisconsin,72,Oregon,65,43.137255,30.434783,72.413793,9218,11,6,3,44.067797,42.105263,71.428571,9708,13,8,3
832,2015,Arizona,68,Xavier,60,40.740741,31.818182,89.473684,9219,10,8,9,43.137255,17.647059,81.250000,9707,9,12,7
833,2015,Kentucky,78,West Virginia,39,48.000000,26.666667,81.250000,9229,13,10,7,24.074074,13.333333,57.894737,9703,7,13,4
834,2015,Notre Dame,81,Wichita St,70,55.555556,47.368421,80.000000,9222,18,11,4,40.000000,16.666667,78.947368,9705,9,7,6
835,2015,Wisconsin,79,North Carolina,72,46.428571,33.333333,86.956522,9219,13,5,3,46.428571,61.538462,66.666667,9703,12,4,3
836,2015,Duke,63,Utah,57,44.444444,33.333333,76.923077,9219,5,14,6,35.000000,25.000000,73.333333,9702,8,15,8
837,2015,Gonzaga,74,UCLA,62,40.298507,15.789474,73.913043,9228,15,5,5,38.805970,23.076923,63.636364,9711,12,7,4
838,2015,Louisville,75,NC State,65,50.000000,25.000000,66.666667,9223,15,5,5,38.333333,45.000000,71.428571,9709,10,7,3
839,2015,Michigan St,62,Oklahoma,58,38.596491,33.333333,56.250000,9217,9,5,1,36.363636,23.529412,87.500000,9708,7,7,2
840,2015,Kentucky,68,Notre Dame,66,53.191489,50.000000,70.000000,9215,8,11,4,46.428571,28.571429,76.923077,9699,16,7,5
841,2015,Wisconsin,85,Arizona,78,55.555556,66.666667,74.193548,9213,11,9,5,55.813953,33.333333,93.333333,9703,8,10,5
842,2015,Duke,66,Gonzaga,52,37.500000,42.105263,84.210526,9218,10,3,8,44.000000,20.000000,66.666667,9711,8,13,1
843,2015,Michigan St,76,Louisville,70,43.333333,39.130435,75.000000,9227,20,12,5,35.937500,36.363636,68.965517,9710,10,9,6
844,2015,Duke,81,Michigan St,61,52.000000,20.000000,72.972973,9225,10,8,9,40.000000,35.000000,62.500000,9708,10,14,4
845,2015,Wisconsin,71,Kentucky,64,47.916667,41.176471,81.818182,9218,10,10,1,48.148148,60.000000,90.000000,9700,7,6,5
846,2015,Duke,68,Wisconsin,63,47.058824,36.363636,80.000000,9223,7,5,4,40.983607,33.333333,60.000000,9708,13,5,3

In [131]:
tourney_df2 = tourney_df2.rename(columns={'Wast':'Winning_assists','Wto':'Winning_turnovers','Wstl':'Winning_steals',\
                         'Last':'Losing_assists','Lto':'Losing_turnover','Lstl':'Losing_steals'})
tourney_df2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,UNC Asheville,92,TX Southern,84,46.376812,37.931034,65.384615,9226,17,12,5,43.283582,38.709677,45.161290,9712,16,15,5
1,2003,Arizona,80,Vermont,51,46.969697,30.434783,78.571429,9232,22,16,10,31.250000,25.000000,100.000000,9710,12,17,10
2,2003,Arizona St,84,Memphis,71,52.542373,42.857143,72.727273,9223,18,9,7,36.231884,25.000000,66.666667,9706,11,12,2
3,2003,C Michigan,79,Creighton,73,54.716981,42.857143,72.000000,9216,15,18,13,45.000000,41.176471,70.588235,9701,20,21,6
4,2003,California,76,NC State,74,42.187500,35.000000,65.217391,9216,17,13,8,44.642857,42.857143,75.000000,9710,16,14,5

In [136]:
tourney_df2.to_csv('tourney_new_clean.csv')

In [137]:
connection_string = "postgres:KatjaUSA2011!@localhost:5432/tourney_db"
engine = create_engine(f'postgresql://{connection_string}')

In [138]:
engine.table_names()

['tourney']

In [139]:
tourney_df2.to_sql(name='tourney', con=engine, if_exists='append', index=True)