In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
teams_file = "Teams.csv"
teams_df = pd.read_csv(teams_file)
teams_df.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [3]:
teams_df = teams_df.rename(columns={"Team_ID": "id",
                                    "Team_Name": "Team"})
teams_df.head()

   Team_Id         Team
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [4]:
results_file = "results.csv"
results_df = pd.read_csv(results_file)
results_df.head()

,Wteam_name,Lteam_name,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,Alabama,Oklahoma,2003,10,1104,68,1328,62,N,0,...,10,16,22,10,22,8,18,9,2,20
1,Memphis,Syracuse,2003,10,1272,70,1393,63,N,0,...,24,9,20,20,25,7,12,8,6,16
2,Marquette,Villanova,2003,11,1266,73,1437,61,N,0,...,26,14,23,31,22,9,12,2,5,23
3,N Illinois,Winthrop,2003,11,1296,56,1457,50,N,0,...,22,8,15,17,20,9,19,4,3,23
4,Texas,Georgia,2003,11,1400,77,1208,71,N,0,...,16,17,27,21,15,12,10,7,1,14

In [5]:
tourney_file = "tourney.csv"
tourney_df = pd.read_csv(tourney_file)
tourney_df.columns

Index(['Wteam_name', 'Lteam_name', 'Season', 'Daynum', 'Wteam', 'Wscore',
       'Lteam', 'Lscore', 'Wloc', 'Numot', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Wblk', 'Wpf',
       'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl', 'Lblk', 'Lpf'],
      dtype='object')

In [6]:
results_columns= results_df[['Wteam_name', 'Lteam_name', 'Season', 'Wscore', 'Lscore', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl']].copy()

results_clean = results_columns.rename(columns={"Wteam_name": "winning_team",
                                                "Lteam_name": "losing_team",
                                                "Season": "season",
                                               "Wscore": "winning_score",
                                               "Lscore": "losing_score"
                                               })

results_clean.head()

,winning_team,losing_team,season,winning_score,losing_score,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lfga,Lfgm3,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl
0,Alabama,Oklahoma,2003,68,62,27,58,3,14,11,...,53,2,10,16,22,10,22,8,18,9
1,Memphis,Syracuse,2003,70,63,26,62,8,20,10,...,67,6,24,9,20,20,25,7,12,8
2,Marquette,Villanova,2003,73,61,24,58,8,18,17,...,73,3,26,14,23,31,22,9,12,2
3,N Illinois,Winthrop,2003,56,50,18,38,3,9,17,...,49,6,22,8,15,17,20,9,19,4
4,Texas,Georgia,2003,77,71,30,61,6,14,11,...,62,6,16,17,27,21,15,12,10,7

In [7]:
results_clean.to_csv('results_clean.csv')

In [8]:
tourney_columns= tourney_df[['Wteam_name', 'Lteam_name', 'Season', 'Wscore',
       'Lteam', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl']].copy()

tourney_clean = tourney_columns.rename(columns={"Wteam_name": "winning_team",
                                                "Lteam_name": "losing_team",
                                                "Season": "season",
                                               "Wscore": "winning_score",
                                               "Lscore": "losing_score"})

tourney_clean.head()

,winning_team,losing_team,season,winning_score,Lteam,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lfga,Lfgm3,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl
0,UNC Asheville,TX Southern,2003,92,1411,32,69,11,29,17,...,67,12,31,14,31,17,28,16,15,5
1,Arizona,Vermont,2003,80,1436,31,66,7,23,11,...,64,4,16,7,7,8,26,12,17,10
2,Arizona St,Memphis,2003,84,1272,31,59,6,14,16,...,69,7,28,14,21,20,22,11,12,2
3,C Michigan,Creighton,2003,79,1166,29,53,3,7,18,...,60,7,17,12,17,14,17,20,21,6
4,California,NC State,2003,76,1301,27,64,7,20,15,...,56,9,21,15,20,10,26,16,14,5

In [9]:
tourney_clean.to_csv('tourney_clean.csv')

In [6]:
results_new_clean = "results_new_clean.csv"
results_df = pd.read_csv(results_new_clean)
results_df.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,St Francis NY,142,Long Island,140,54.65,36.67,80.43,36,27,16,18,58.02,52.17,82.93,46,27,27,6
1,2003,Connecticut,117,UNC Asheville,67,62.67,45.45,68.42,46,26,13,11,33.82,28.57,72.22,32,8,22,4
2,2003,Troy,117,Stetson,70,57.53,44.12,72.00,46,26,14,11,29.85,25.00,80.00,39,10,21,7
3,2003,Connecticut,116,Sacred Heart,78,50.00,26.09,76.47,61,34,10,10,37.04,33.33,64.29,38,21,14,3
4,2003,Pepperdine,116,Ark Little Rock,110,48.81,40.62,63.64,53,26,14,7,46.07,31.03,59.38,53,24,10,11

In [7]:
tourney_new_clean = "tourney_new_clean.csv"
tourney_df = pd.read_csv(tourney_new_clean)
tourney_df.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,Kansas,108,Arizona St,76,67.80,55.56,67.65,40,21,13,6,40.58,26.67,69.57,31,11,11,7
1,2003,Marquette,101,Missouri,92,56.45,66.67,95.00,33,18,12,6,43.06,41.67,78.95,38,19,12,4
2,2003,Arizona,96,Gonzaga,95,45.95,29.17,72.41,47,18,9,7,44.16,36.67,76.19,43,20,11,5
3,2003,Kentucky,95,IUPUI,64,61.54,50.00,45.45,35,22,13,7,36.67,26.67,72.73,33,10,19,7
4,2003,Syracuse,95,Texas,84,57.14,53.85,77.42,37,14,13,9,42.86,47.62,62.50,34,20,14,6

In [8]:
connection_string = "postgres:Mrtubbs10@localhost:5432/march_madness2.0"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
engine.table_names()

['teams']

In [4]:
teams_df.to_sql(name='teams', con=engine, if_exists='append', index=True)

NameError: name 'teams_df' is not defined

In [14]:
results_df.to_sql(name='results', con=engine, if_exists='append', index=True)

In [15]:
tourney_df.to_sql(name='tourney', con=engine, if_exists='append', index=True)

In [16]:
conn = engine.connect()

duke_2015_data = pd.read_sql("select * from results\
                    where season='2015' \
                    and winning_team='Duke'\
                    union\
                    select * from results\
                    where season='2015'\
                    and losing_team='Duke'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and winning_team='Duke'\
                    order by index asc", conn)
duke_2015_data

,index,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,788,2015,Duke,85,Robert Morris,56,62.96,47.62,50.00,40,28,11,7,36.36,31.58,50.00,28,13,8,6
1,792,2015,Duke,81,Michigan St,61,52.00,20.00,72.97,36,10,8,9,40.00,35.00,62.50,33,10,14,4
2,823,2015,Duke,68,Wisconsin,63,47.06,36.36,80.00,33,7,5,4,40.98,33.33,60.00,35,13,5,3
3,824,2015,Duke,68,San Diego St,49,54.55,42.86,100.00,33,16,9,7,32.76,15.38,81.82,33,5,11,6
4,831,2015,Duke,66,Gonzaga,52,37.50,42.11,84.21,31,10,3,8,44.00,20.00,66.67,35,8,13,1
5,836,2015,Duke,63,Utah,57,44.44,33.33,76.92,31,5,14,6,35.00,25.00,73.33,36,8,15,8
6,60521,2015,Duke,113,Presbyterian,44,60.87,51.61,81.25,46,30,9,12,34.62,8.33,63.64,21,7,17,6
7,60529,2015,Duke,109,Fairfield,59,64.52,40.91,71.43,39,22,12,12,41.51,14.29,76.47,20,9,18,4
8,60658,2015,Duke,94,Wake Forest,51,57.63,52.00,81.25,38,22,12,12,41.51,27.78,22.22,22,9,19,7
9,60685,2015,Duke,93,Furman,54,57.58,37.93,60.00,40,24,7,5,33.93,33.33,83.33,27,10,14,2
10,60686,2015,Duke,93,Army,73,51.67,21.05,72.97,43,20,10,9,45.61,43.75,77.78,25,14,14,4
11,60722,2015,Duke,92,North Carolina,90,50.77,62.50,51.61,46,18,16,6,45.78,20.00,60.00,49,21,11,9
12,60760,2015,Duke,91,Virginia Tech,86,59.32,43.48,50.00,31,18,9,7,53.45,54.55,80.00,26,18,11,2
13,60808,2015,Duke,90,Notre Dame,60,60.78,60.00,73.08,40,18,9,5,39.66,33.33,35.29,26,12,10,3
14,60817,2015,Miami FL,90,Duke,74,51.79,50.00,73.33,31,14,11,12,43.94,28.57,50.00,41,12,15,4
15,61004,2015,NC State,87,Duke,75,55.00,62.50,61.11,37,18,10,3,36.92,25.93,76.92,39,12,10,8
16,61052,2015,Duke,86,Toledo,69,55.77,40.00,73.33,34,18,13,6,47.54,33.33,60.00,28,10,13,4
17,61126,2015,Duke,85,Boston College,62,47.37,42.86,75.86,39,15,11,4,40.00,23.08,70.00,34,10,12,6
18,61215,2015,Duke,84,Wofford,55,55.77,50.00,72.00,34,13,8,10,38.18,29.41,72.73,29,9,13,4
19,61216,2015,Duke,84,North Carolina,77,45.76,36.00,80.77,32,11,10,7,48.28,50.00,100.00,32,16,16,5
20,61568,2015,Duke,81,Michigan St,71,54.00,50.00,76.92,25,15,8,6,50.00,25.00,60.00,35,15,13,2
21,61721,2015,Duke,80,Wisconsin,70,65.22,58.33,72.22,28,11,10,6,40.74,42.86,80.95,27,11,8,2
22,61722,2015,Duke,80,Syracuse,72,47.37,46.67,86.36,42,19,15,5,43.28,36.36,46.15,32,15,9,8
23,61876,2015,Duke,79,Pittsburgh,65,46.15,47.83,80.00,36,13,9,7,45.00,30.00,66.67,32,16,11,5
24,62051,2015,Duke,78,Clemson,56,51.72,35.00,84.62,33,15,11,10,41.51,22.22,66.67,29,10,14,7
25,62225,2015,Duke,77,NC State,53,56.60,38.46,92.31,28,14,5,7,35.71,27.78,61.54,34,12,9,3
26,62226,2015,Duke,77,St John's,68,48.15,36.84,66.67,44,14,16,5,44.26,26.67,62.50,29,13,9,10
27,62290,2015,Notre Dame,77,Duke,73,51.79,44.44,68.75,33,17,11,6,45.90,43.75,50.00,38,12,10,7
28,62552,2015,Duke,75,Elon,62,51.79,18.75,51.85,40,14,17,12,42.37,26.32,87.50,29,11,19,9
29,62739,2015,Duke,74,Temple,54,39.06,30.43,65.38,43,14,9,9,37.29,8.33,69.23,40,6,17,5
30,62807,2015,Notre Dame,74,Duke,64,50.00,25.00,88.00,27,13,10,7,45.00,17.65,50.00,34,10,12,6
31,62931,2015,Duke,73,Syracuse,54,48.28,34.78,56.25,42,18,17,7,30.65,15.00,76.47,36,10,15,12
32,62932,2015,Duke,73,Wake Forest,65,44.07,44.44,76.47,39,12,14,5,45.90,15.38,70.00,31,16,11,8
33,62933,2015,Duke,73,Florida St,70,45.10,35.00,76.92,31,14,10,3,45.28,50.00,71.43,31,14,13,5
34,63138,2015,Duke,72,Georgia Tech,66,45.61,27.78,62.50,40,13,10,9,46.43,72.73,50.00,33,11,14,7
35,63568,2015,Duke,70,Stanford,59,39.29,36.00,58.62,41,16,10,9,36.07,21.43,85.71,40,5,12,6
36,63772,2015,Duke,69,Virginia,63,50.91,35.29,53.85,34,12,8,4,41.27,23.08,80.00,35,11,7,4
37,64365,2015,Duke,66,Connecticut,56,37.50,26.32,73.53,40,10,19,7,42.59,25.00,53.85,29,5,14,7
38,64888,2015,Duke,63,Louisville,52,48.84,26.67,73.91,32,13,10,6,29.51,16.00,75.00,38,7,10,4

In [17]:
wisconsin_2015_data = pd.read_sql("select * from results\
                    where season='2015' \
                    and winning_team='Wisconsin'\
                    union\
                    select * from results\
                    where season='2015'\
                    and losing_team='Wisconsin'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and winning_team='Wisconsin'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and losing_team='Wisconsin'\
                    order by index asc", conn)
wisconsin_2015_data

,index,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,787,2015,Wisconsin,86,Coastal Car,72,54.10,40.74,75.00,36,14,9,5,48.28,58.33,81.82,25,9,6,8
1,789,2015,Wisconsin,85,Arizona,78,55.56,66.67,74.19,21,11,9,5,55.81,33.33,93.33,22,8,10,5
2,799,2015,Wisconsin,79,North Carolina,72,46.43,33.33,86.96,35,13,5,3,46.43,61.54,66.67,28,12,4,3
3,814,2015,Wisconsin,72,Oregon,65,43.14,30.43,72.41,32,11,6,3,44.07,42.11,71.43,34,13,8,3
4,817,2015,Wisconsin,71,Kentucky,64,47.92,41.18,81.82,34,10,10,1,48.15,60.00,90.00,22,7,6,5
5,823,2015,Duke,68,Wisconsin,63,47.06,36.36,80.00,33,7,5,4,40.98,33.33,60.00,35,13,5,3
6,60712,2015,Wisconsin,93,WI Milwaukee,54,60.94,50.00,77.78,34,10,4,10,34.62,37.50,70.59,28,10,14,3
7,60749,2015,Wisconsin,92,Indiana,78,60.42,54.55,90.32,22,15,6,3,49.12,54.17,81.82,25,11,11,2
8,60901,2015,Wisconsin,89,Chattanooga,45,53.33,44.44,73.91,49,20,9,5,32.14,27.27,30.00,21,7,11,7
9,60902,2015,Wisconsin,89,Penn St,72,63.83,46.15,82.14,25,9,9,4,53.70,41.67,64.29,22,7,9,5
10,61112,2015,Wisconsin,86,Nicholls St,43,51.85,28.57,74.29,41,14,10,10,34.62,20.00,62.50,26,8,21,5
11,61297,2015,Wisconsin,84,WI Green Bay,60,51.92,35.29,64.86,45,13,7,4,35.38,16.67,66.67,31,13,6,4
12,61541,2015,Wisconsin,82,Iowa,50,49.15,40.91,78.95,37,16,1,6,43.48,40.00,40.00,23,7,9,0
13,61683,2015,Wisconsin,81,Northwestern,58,52.63,48.00,60.00,37,23,7,2,39.34,28.57,75.00,32,16,9,1
14,61721,2015,Duke,80,Wisconsin,70,65.22,58.33,72.22,28,11,10,6,40.74,42.86,80.95,27,11,8,2
15,61845,2015,Wisconsin,80,Michigan St,69,48.08,50.00,85.00,23,18,7,7,50.94,42.86,100.00,32,16,13,3
16,62181,2015,Wisconsin,78,Boise St,54,55.36,37.04,100.00,29,16,5,5,42.86,63.64,55.56,25,8,11,3
17,62508,2015,Wisconsin,76,Minnesota,63,50.00,50.00,83.33,33,18,9,3,40.98,37.50,77.78,33,12,8,5
18,62888,2015,Wisconsin,74,Iowa,63,44.23,36.84,80.77,35,9,6,5,47.92,57.14,65.00,24,11,8,4
19,63293,2015,Wisconsin,72,Ohio St,48,50.00,33.33,100.00,41,10,9,5,33.96,20.00,64.29,27,9,9,7
20,63294,2015,Wisconsin,72,UAB,43,51.92,27.78,59.09,33,14,10,8,35.29,21.05,37.50,32,7,19,4
21,63521,2015,Wisconsin,71,Michigan,60,49.02,36.84,87.50,34,13,7,4,51.92,40.00,0.00,19,13,5,5
22,63522,2015,Wisconsin,71,Purdue,51,47.27,36.36,91.67,35,18,3,5,37.25,50.00,100.00,27,12,9,3
23,63722,2015,Wisconsin,70,Nebraska,55,48.84,52.38,73.91,27,9,6,1,42.00,29.41,57.14,24,9,5,5
24,63950,2015,Wisconsin,69,Oklahoma,56,43.55,32.14,75.00,32,19,11,12,36.96,25.00,89.47,35,6,21,5
25,63951,2015,Wisconsin,69,Michigan,64,47.06,33.33,73.68,30,12,8,4,42.59,35.00,91.67,33,8,9,2
26,64143,2015,Wisconsin,68,Illinois,49,50.94,35.71,60.00,32,11,4,6,40.00,36.36,81.82,25,4,10,3
27,64144,2015,Wisconsin,68,Georgetown,65,48.84,37.50,74.07,26,9,14,6,53.19,54.55,69.23,26,7,15,8
28,64145,2015,Wisconsin,68,Buffalo,56,42.37,30.00,92.31,37,11,8,3,35.19,55.56,72.22,32,6,9,2
29,64146,2015,Wisconsin,68,Michigan St,61,52.00,28.57,80.00,35,10,8,3,45.28,52.94,44.44,24,14,7,3
30,64147,2015,Wisconsin,68,California,56,43.64,27.27,94.44,39,8,6,2,38.89,41.67,69.23,29,7,6,4
31,64265,2015,Rutgers,67,Wisconsin,62,54.35,45.45,80.00,28,8,7,2,42.86,23.81,56.25,31,11,5,1
32,64695,2015,Wisconsin,65,Nebraska,55,39.13,27.78,77.42,38,9,8,3,35.48,22.22,70.00,36,5,8,6
33,64696,2015,Wisconsin,65,Northwestern,50,38.89,32.14,82.35,39,14,5,1,39.58,28.57,66.67,25,8,5,2
34,65025,2015,Wisconsin,63,Minnesota,53,46.94,35.29,78.57,27,11,8,2,46.30,33.33,0.00,29,7,11,4
35,65134,2015,Wisconsin,62,Purdue,55,43.59,21.43,80.65,21,6,8,6,51.02,40.00,42.86,26,10,12,3
36,65135,2015,Wisconsin,62,N Kentucky,31,48.94,23.53,60.00,42,13,9,3,26.42,12.50,20.00,28,4,10,5
37,65389,2015,Maryland,59,Wisconsin,53,48.00,28.57,81.82,31,8,6,5,38.46,27.27,58.33,31,6,8,3
38,65697,2015,Wisconsin,55,Penn St,47,39.22,22.73,66.67,37,12,8,3,38.89,15.38,100.00,28,5,6,5
39,65842,2015,Wisconsin,49,Marquette,38,32.69,26.67,77.78,41,14,11,7,28.89,42.86,66.67,28,9,10,4

In [18]:
duke_2015_data.to_csv("duke_2015_data.csv")
wisconsin_2015_data.to_csv("wisconsin_2015_data.csv")