In [300]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# 1. Cleaning Dataset : Tourney - Tournament Results

In [301]:
# Read csv file and put into a dataframe
tourney_df = pd.read_csv("tourney.csv")
tourney_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [302]:
# Display info
tourney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 34 columns):
Season    847 non-null int64
Daynum    847 non-null int64
Wteam     847 non-null int64
Wscore    847 non-null int64
Lteam     847 non-null int64
Lscore    847 non-null int64
Wloc      847 non-null object
Numot     847 non-null int64
Wfgm      847 non-null int64
Wfga      847 non-null int64
Wfgm3     847 non-null int64
Wfga3     847 non-null int64
Wftm      847 non-null int64
Wfta      847 non-null int64
Wor       847 non-null int64
Wdr       847 non-null int64
Wast      847 non-null int64
Wto       847 non-null int64
Wstl      847 non-null int64
Wblk      847 non-null int64
Wpf       847 non-null int64
Lfgm      847 non-null int64
Lfga      847 non-null int64
Lfgm3     847 non-null int64
Lfga3     847 non-null int64
Lftm      847 non-null int64
Lfta      847 non-null int64
Lor       847 non-null int64
Ldr       847 non-null int64
Last      847 non-null int64
Lto       847 non-null int64
Lstl      847 non-null int64
Lblk      847 non-null int64
Lpf       847 non-null int64
dtypes: int64(33), object(1)
memory usage: 225.1+ KB

In [303]:
# Read csv file and put into a dataframe
teams_df = pd.read_csv("teams.csv")
teams_df.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [304]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 2 columns):
Team_Id      364 non-null int64
Team_Name    364 non-null object
dtypes: int64(1), object(1)
memory usage: 5.8+ KB

In [305]:
teams_df['Team_Name'].value_counts()

Wichita St        1
Montana           1
North Carolina    1
Robert Morris     1
Florida A&M       1
WI Green Bay      1
Missouri          1
Bowling Green     1
Boston Univ       1
Wyoming           1
Fresno St         1
Canisius          1
James Madison     1
Xavier            1
George Mason      1
Longwood          1
S Carolina St     1
Providence        1
Arkansas St       1
Baylor            1
San Diego         1
San Francisco     1
NC Central        1
Norfolk St        1
Sacred Heart      1
Citadel           1
Miami FL          1
Syracuse          1
USC               1
N Illinois        1
                 ..
Stetson           1
Alabama St        1
Missouri KC       1
CS Sacramento     1
Auburn            1
Utah Valley       1
Florida           1
BYU               1
Campbell          1
Drake             1
Grand Canyon      1
Illinois          1
Murray St         1
Mississippi St    1
N Kentucky        1
CS Northridge     1
Long Beach St     1
VMI               1
Prairie View      1
Kansas            1
Coastal Car       1
Quinnipiac        1
MA Lowell         1
UNC Asheville     1
Kennesaw          1
Davidson          1
Houston           1
Hofstra           1
SMU               1
Gardner Webb      1
Name: Team_Name, Length: 364, dtype: int64

In [306]:
tourney_df = tourney_df.rename(columns = {'Wteam':'Team_Id'})
tourney_df.head()

,Season,Daynum,Team_Id,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [307]:
# Creating new columns for the tournament dataframe based on calculations made using existing columns
# A. Winning Field Goal Percentage
tourney_df['Winning_field_goal_percent'] = (tourney_df['Wfgm']/tourney_df['Wfga']*100).round(2)
tourney_df['Winning_field_goal_percent'].head()

0    46.38
1    46.97
2    52.54
3    54.72
4    42.19
Name: Winning_field_goal_percent, dtype: float64

In [308]:
# B. Winning 3 percentage 
tourney_df['Winning_3_percent'] = (tourney_df['Wfgm3']/tourney_df['Wfga3']*100).round(2)
tourney_df['Winning_3_percent'].head()

0    37.93
1    30.43
2    42.86
3    42.86
4    35.00
Name: Winning_3_percent, dtype: float64

In [309]:
# C. Winning free throw percentage
tourney_df['Winning_free_throw_percent'] = (tourney_df['Wftm']/tourney_df['Wfta']*100).round(2)
tourney_df['Winning_free_throw_percent'].head()

0    65.38
1    78.57
2    72.73
3    72.00
4    65.22
Name: Winning_free_throw_percent, dtype: float64

In [310]:
# D. Winning total rebounds
tourney_df['Winning_total_rebounds'] = (tourney_df['Wor']+tourney_df['Wdr'])
tourney_df['Winning_total_rebounds'].head()

0    44
1    47
2    37
3    31
4    38
Name: Winning_total_rebounds, dtype: int64

In [311]:
# E. Losing field goal percentage
tourney_df['Losing_field_goal_percent'] = (tourney_df['Lfgm']/tourney_df['Lfga']*100).round(2)
tourney_df['Losing_field_goal_percent'].head()

0    43.28
1    31.25
2    36.23
3    45.00
4    44.64
Name: Losing_field_goal_percent, dtype: float64

In [312]:
# F. Losing 3 Percentage
tourney_df['Losing_3_percent'] = (tourney_df['Lfgm3']/tourney_df['Lfga3']*100).round(2)
tourney_df['Losing_3_percent'].head()

0    38.71
1    25.00
2    25.00
3    41.18
4    42.86
Name: Losing_3_percent, dtype: float64

In [313]:
# G. Losing free throw percentage
tourney_df['Losing_free_throw_percent'] = (tourney_df['Lftm']/tourney_df['Lfta']*100).round(2)
tourney_df['Losing_free_throw_percent'].head()

0     45.16
1    100.00
2     66.67
3     70.59
4     75.00
Name: Losing_free_throw_percent, dtype: float64

In [314]:
# H. Losing Total Rebounds
tourney_df['Losing_total_rebounds'] = (tourney_df['Lor']+tourney_df['Ldr'])
tourney_df['Losing_total_rebounds'].head()

0    45
1    34
2    42
3    31
4    36
Name: Losing_total_rebounds, dtype: int64

In [350]:
# Merge on Team ID to bring over Winning Teams' Names
merged_tourney = pd.merge(tourney_df, teams_df, on = ['Team_Id'])
merged_tourney.head()

,Season,Daynum,Team_Id,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lpf,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Team_Name
0,2003,134,1421,92,1411,84,N,1,32,69,...,22,46.38,37.93,65.38,44,43.28,38.71,45.16,45,UNC Asheville
1,2011,134,1421,81,1114,77,N,1,27,54,...,24,50.00,33.33,82.14,35,42.86,31.03,76.92,33,UNC Asheville
2,2003,136,1112,80,1436,51,N,0,31,66,...,15,46.97,30.43,78.57,47,31.25,25.00,100.00,34,Arizona
3,2003,138,1112,96,1211,95,N,2,34,74,...,25,45.95,29.17,72.41,47,44.16,36.67,76.19,43,Arizona
4,2003,143,1112,88,1323,71,N,0,36,76,...,16,47.37,50.00,81.82,44,42.37,43.48,61.11,36,Arizona

In [316]:
# Create a new dataframe by incorporating the calculated columns and indentified columns of interest.
tourney_df2 = merged_tourney[['Season','Team_Name','Wscore',\
                              'Lteam','Lscore','Winning_field_goal_percent',\
                              'Winning_3_percent','Winning_free_throw_percent',\
                              'Winning_total_rebounds','Wast','Wto','Wstl',\
                              'Losing_field_goal_percent','Losing_3_percent',\
                              'Losing_free_throw_percent','Losing_total_rebounds',\
                              'Last','Lto','Lstl']].copy()
tourney_df2.head()

,Season,Team_Name,Wscore,Lteam,Lscore,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Wast,Wto,Wstl,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Last,Lto,Lstl
0,2003,UNC Asheville,92,1411,84,46.38,37.93,65.38,44,17,12,5,43.28,38.71,45.16,45,16,15,5
1,2011,UNC Asheville,81,1114,77,50.00,33.33,82.14,35,17,15,6,42.86,31.03,76.92,33,19,16,6
2,2003,Arizona,80,1436,51,46.97,30.43,78.57,47,22,16,10,31.25,25.00,100.00,34,12,17,10
3,2003,Arizona,96,1211,95,45.95,29.17,72.41,47,18,9,7,44.16,36.67,76.19,43,20,11,5
4,2003,Arizona,88,1323,71,47.37,50.00,81.82,44,19,10,12,42.37,43.48,61.11,36,15,19,6

In [317]:
# Rename columns of interest.
tourney_df2 = tourney_df2.rename(columns={'Season':'season','Team_Name':'winning_team','Wscore':'winning_score','Lteam':'losing_team','Lscore':'losing_score','Wast':'Winning_assists','Wto':'Winning_turnovers','Wstl':'Winning_steals',\
                         'Last':'Losing_assists','Lto':'Losing_turnover','Lstl':'Losing_steals'})
tourney_df2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,UNC Asheville,92,1411,84,46.38,37.93,65.38,44,17,12,5,43.28,38.71,45.16,45,16,15,5
1,2011,UNC Asheville,81,1114,77,50.00,33.33,82.14,35,17,15,6,42.86,31.03,76.92,33,19,16,6
2,2003,Arizona,80,1436,51,46.97,30.43,78.57,47,22,16,10,31.25,25.00,100.00,34,12,17,10
3,2003,Arizona,96,1211,95,45.95,29.17,72.41,47,18,9,7,44.16,36.67,76.19,43,20,11,5
4,2003,Arizona,88,1323,71,47.37,50.00,81.82,44,19,10,12,42.37,43.48,61.11,36,15,19,6

In [318]:
tourney_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 847 entries, 0 to 846
Data columns (total 19 columns):
season                        847 non-null int64
winning_team                  847 non-null object
winning_score                 847 non-null int64
losing_team                   847 non-null int64
losing_score                  847 non-null int64
Winning_field_goal_percent    847 non-null float64
Winning_3_percent             847 non-null float64
Winning_free_throw_percent    847 non-null float64
Winning_total_rebounds        847 non-null int64
Winning_assists               847 non-null int64
Winning_turnovers             847 non-null int64
Winning_steals                847 non-null int64
Losing_field_goal_percent     847 non-null float64
Losing_3_percent              847 non-null float64
Losing_free_throw_percent     847 non-null float64
Losing_total_rebounds         847 non-null int64
Losing_assists                847 non-null int64
Losing_turnover               847 non-null int64
Losing_steals                 847 non-null int64
dtypes: float64(6), int64(12), object(1)
memory usage: 132.3+ KB

In [357]:
# Merge tourney_df2 and teams_df to bring over the losing team names using the Team ID column and losing team column.
merged_tourney2 = pd.merge(tourney_df2, teams_df, left_on = 'losing_team', right_on = 'Team_Id')
merged_tourney2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,...,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals,Team_Id,Team_Name
0,2003,UNC Asheville,92,1411,84,46.38,37.93,65.38,44,17,...,5,43.28,38.71,45.16,45,16,15,5,1411,TX Southern
1,2015,Arizona,93,1411,72,60.38,45.45,88.89,35,13,...,8,47.06,41.67,63.33,19,5,9,5,1411,TX Southern
2,2014,Cal Poly SLO,81,1411,69,56.86,40.00,77.27,28,15,...,4,48.00,30.77,77.27,27,12,13,3,1411,TX Southern
3,2011,UNC Asheville,81,1114,77,50.00,33.33,82.14,35,17,...,6,42.86,31.03,76.92,33,19,16,6,1114,Ark Little Rock
4,2003,Arizona,80,1436,51,46.97,30.43,78.57,47,22,...,10,31.25,25.00,100.00,34,12,17,10,1436,Vermont

In [370]:
# Reposition columns and rename dataframe.
tourney_df3 = merged_tourney2[['season','winning_team','winning_score','Team_Name','losing_score','Winning_field_goal_percent','Winning_3_percent','Winning_free_throw_percent','Winning_total_rebounds','Winning_assists',\
                               'Winning_turnovers','Winning_steals','Losing_field_goal_percent','Losing_3_percent','Losing_free_throw_percent','Losing_total_rebounds','Losing_assists','Losing_turnover','Losing_steals']].copy()
tourney_df3.head()

,season,winning_team,winning_score,Team_Name,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,UNC Asheville,92,TX Southern,84,46.38,37.93,65.38,44,17,12,5,43.28,38.71,45.16,45,16,15,5
1,2015,Arizona,93,TX Southern,72,60.38,45.45,88.89,35,13,12,8,47.06,41.67,63.33,19,5,9,5
2,2014,Cal Poly SLO,81,TX Southern,69,56.86,40.00,77.27,28,15,10,4,48.00,30.77,77.27,27,12,13,3
3,2011,UNC Asheville,81,Ark Little Rock,77,50.00,33.33,82.14,35,17,15,6,42.86,31.03,76.92,33,19,16,6
4,2003,Arizona,80,Vermont,51,46.97,30.43,78.57,47,22,16,10,31.25,25.00,100.00,34,12,17,10

In [371]:
# Rename the column'Team_Name' to 'losing_team' and sort by season - ascending, winning score - descending, and winning team ascending. Reset the index and drop old index.
tourney_df3 = tourney_df3.rename(columns={'Team_Name':'losing_team'})
sorted = tourney_df3.sort_values(by = ['season','winning_score','winning_team'], ascending = [True,False,True])
#df.sort_values(['a', 'b'], ascending=[True, False])
tourney_df4 = sorted.reset_index(drop=True)
tourney_df4.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,Kansas,108,Arizona St,76,67.80,55.56,67.65,40,21,13,6,40.58,26.67,69.57,31,11,11,7
1,2003,Marquette,101,Missouri,92,56.45,66.67,95.00,33,18,12,6,43.06,41.67,78.95,38,19,12,4
2,2003,Arizona,96,Gonzaga,95,45.95,29.17,72.41,47,18,9,7,44.16,36.67,76.19,43,20,11,5
3,2003,Kentucky,95,IUPUI,64,61.54,50.00,45.45,35,22,13,7,36.67,26.67,72.73,33,10,19,7
4,2003,Syracuse,95,Texas,84,57.14,53.85,77.42,37,14,13,9,42.86,47.62,62.50,34,20,14,6

In [362]:
# Save new dataframe to a csv file.
tourney_df4.to_csv('tourney_new_clean.csv')

# 2. Cleaning Dataset - Results - Season Game Results

In [323]:
# Read csv file and put into a dataframe
results_df = pd.read_csv("results.csv")
results_df.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [324]:
# Display info
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71241 entries, 0 to 71240
Data columns (total 34 columns):
Season    71241 non-null int64
Daynum    71241 non-null int64
Wteam     71241 non-null int64
Wscore    71241 non-null int64
Lteam     71241 non-null int64
Lscore    71241 non-null int64
Wloc      71241 non-null object
Numot     71241 non-null int64
Wfgm      71241 non-null int64
Wfga      71241 non-null int64
Wfgm3     71241 non-null int64
Wfga3     71241 non-null int64
Wftm      71241 non-null int64
Wfta      71241 non-null int64
Wor       71241 non-null int64
Wdr       71241 non-null int64
Wast      71241 non-null int64
Wto       71241 non-null int64
Wstl      71241 non-null int64
Wblk      71241 non-null int64
Wpf       71241 non-null int64
Lfgm      71241 non-null int64
Lfga      71241 non-null int64
Lfgm3     71241 non-null int64
Lfga3     71241 non-null int64
Lftm      71241 non-null int64
Lfta      71241 non-null int64
Lor       71241 non-null int64
Ldr       71241 non-null int64
Last      71241 non-null int64
Lto       71241 non-null int64
Lstl      71241 non-null int64
Lblk      71241 non-null int64
Lpf       71241 non-null int64
dtypes: int64(33), object(1)
memory usage: 18.5+ MB

In [325]:
results_df = results_df.rename(columns = {'Wteam':'Team_Id'})
results_df.head()

,Season,Daynum,Team_Id,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [326]:
# Creating new columns for the tournament dataframe based on calculations made using existing columns
# A. Winning Field Goal Percentage
results_df['Winning_field_goal_percent'] = (results_df['Wfgm']/results_df['Wfga']*100).round(2)
results_df['Winning_field_goal_percent'].head()

0    46.55
1    41.94
2    41.38
3    47.37
4    49.18
Name: Winning_field_goal_percent, dtype: float64

In [327]:
# B. Winning 3 percentage 
results_df['Winning_3_percent'] = (results_df['Wfgm3']/results_df['Wfga3']*100).round(2)
results_df['Winning_3_percent'].head()

0    21.43
1    40.00
2    44.44
3    33.33
4    42.86
Name: Winning_3_percent, dtype: float64

In [328]:
# C. Winning free throw percentage
results_df['Winning_free_throw_percent'] = (results_df['Wftm']/results_df['Wfta']*100).round(2)
results_df['Winning_free_throw_percent'].head()

0    61.11
1    52.63
2    58.62
3    54.84
4    84.62
Name: Winning_free_throw_percent, dtype: float64

In [329]:
# D. Winning total rebounds
results_df['Winning_total_rebounds'] = results_df['Wor']+results_df['Wdr']
results_df['Winning_total_rebounds'].head()

0    38
1    43
2    43
3    25
4    39
Name: Winning_total_rebounds, dtype: int64

In [330]:
# E. Losing field goal percentage
results_df['Losing_field_goal_percent'] = (results_df['Lfgm']/results_df['Lfga']*100).round(2)
results_df['Losing_field_goal_percent'].head()

0    41.51
1    35.82
2    30.14
3    36.73
4    38.71
Name: Losing_field_goal_percent, dtype: float64

In [331]:
# F. Losing 3 Percentage
results_df['Losing_3_percent'] = (results_df['Lfgm3']/results_df['Lfga3']*100).round(2)
results_df['Losing_3_percent'].head()

0    20.00
1    25.00
2    11.54
3    27.27
4    37.50
Name: Losing_3_percent, dtype: float64

In [332]:
# G. Losing free throw percentage
results_df['Losing_free_throw_percent'] = (results_df['Lftm']/results_df['Lfta']*100).round(2)
results_df['Losing_free_throw_percent'].head()

0    72.73
1    45.00
2    60.87
3    53.33
4    62.96
Name: Losing_free_throw_percent, dtype: float64

In [333]:
# H. Losing Total Rebounds
results_df['Losing_total_rebounds'] = results_df['Lor']+results_df['Ldr']
results_df['Losing_total_rebounds'].head()

0    32
1    45
2    53
3    37
4    36
Name: Losing_total_rebounds, dtype: int64

In [334]:
merged_results = pd.merge(results_df, teams_df, on = ['Team_Id'])
merged_results.head()

,Season,Daynum,Team_Id,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lpf,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Team_Name
0,2003,10,1104,68,1328,62,N,0,27,58,...,20,46.55,21.43,61.11,38,41.51,20.00,72.73,32,Alabama
1,2003,18,1104,82,1106,56,H,0,24,49,...,22,48.98,50.00,70.59,38,34.55,38.10,83.33,29,Alabama
2,2003,21,1104,80,1292,65,H,0,27,59,...,20,45.76,33.33,78.26,34,37.88,30.43,80.00,42,Alabama
3,2003,25,1104,54,1326,48,N,0,16,57,...,19,28.07,28.00,71.43,43,32.00,33.33,63.64,37,Alabama
4,2003,29,1104,89,1422,61,H,0,34,70,...,15,48.57,40.91,80.00,46,37.70,38.89,57.14,32,Alabama

In [335]:
# Create a new dataframe by incorporating the calculated columns and indentified columns of interest.
results_df2 = merged_results[['Season','Team_Name','Wscore',\
          'Lteam','Lscore','Winning_field_goal_percent','Winning_3_percent','Winning_free_throw_percent'\
          ,'Winning_total_rebounds','Wast','Wto','Wstl','Losing_field_goal_percent','Losing_3_percent','Losing_free_throw_percent'\
         ,'Losing_total_rebounds','Last','Lto','Lstl']].copy()
tourney_df2

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,UNC Asheville,92,1411,84,46.38,37.93,65.38,44,17,12,5,43.28,38.71,45.16,45,16,15,5
1,2011,UNC Asheville,81,1114,77,50.00,33.33,82.14,35,17,15,6,42.86,31.03,76.92,33,19,16,6
2,2003,Arizona,80,1436,51,46.97,30.43,78.57,47,22,16,10,31.25,25.00,100.00,34,12,17,10
3,2003,Arizona,96,1211,95,45.95,29.17,72.41,47,18,9,7,44.16,36.67,76.19,43,20,11,5
4,2003,Arizona,88,1323,71,47.37,50.00,81.82,44,19,10,12,42.37,43.48,61.11,36,15,19,6
5,2005,Arizona,66,1429,53,46.94,42.86,77.78,33,9,11,3,36.36,36.84,60.00,32,15,12,6
6,2005,Arizona,85,1412,63,52.63,31.82,78.26,39,16,16,7,32.81,20.00,83.33,32,15,14,9
7,2005,Arizona,79,1329,78,65.96,50.00,58.82,31,17,14,3,43.94,43.48,76.92,27,17,8,10
8,2006,Arizona,94,1458,75,59.32,50.00,82.61,36,19,9,9,43.10,50.00,68.18,27,19,10,4
9,2009,Arizona,84,1428,71,54.55,33.33,71.43,34,11,14,13,42.19,25.00,69.23,35,16,20,7
10,2009,Arizona,71,1156,57,50.00,27.27,85.71,33,12,11,8,37.29,13.04,71.43,30,3,11,7
11,2011,Arizona,77,1272,75,46.00,26.32,83.87,29,11,14,8,49.06,40.00,70.83,33,16,15,7
12,2011,Arizona,70,1400,69,44.44,57.14,63.64,32,17,12,8,45.28,27.27,81.82,33,13,13,5
13,2011,Arizona,93,1181,77,53.97,60.00,76.19,40,15,12,7,46.55,35.71,81.82,27,10,11,5
14,2013,Arizona,81,1125,64,56.86,52.94,70.00,44,13,16,2,39.22,29.63,69.57,18,7,8,7
15,2013,Arizona,74,1217,51,55.10,60.00,68.75,39,13,12,4,27.59,27.78,73.68,33,12,8,7
16,2014,Arizona,68,1451,59,55.32,50.00,56.25,31,15,12,4,30.19,41.18,86.96,32,7,10,8
17,2014,Arizona,84,1211,61,49.23,38.89,72.22,28,24,6,15,40.74,37.50,84.62,39,13,21,3
18,2014,Arizona,70,1361,64,47.92,41.67,76.00,29,14,7,2,38.89,28.57,78.26,37,4,10,2
19,2015,Arizona,93,1411,72,60.38,45.45,88.89,35,13,12,8,47.06,41.67,63.33,19,5,9,5
20,2015,Arizona,73,1326,58,36.51,36.84,83.33,43,14,8,9,38.46,29.41,86.67,26,9,12,4
21,2015,Arizona,68,1462,60,40.74,31.82,89.47,33,10,8,9,43.14,17.65,81.25,31,9,12,7
22,2003,Arizona St,84,1272,71,52.54,42.86,72.73,37,18,9,7,36.23,25.00,66.67,42,11,12,2
23,2009,Arizona St,66,1396,57,51.28,57.14,75.00,27,12,11,4,37.25,35.29,76.47,29,13,9,5
24,2003,C Michigan,79,1166,73,54.72,42.86,72.00,31,15,18,13,45.00,41.18,70.59,31,20,21,6
25,2003,California,76,1301,74,42.19,35.00,65.22,38,17,13,8,44.64,42.86,75.00,36,16,14,5
26,2010,California,77,1257,62,50.98,53.33,77.27,28,17,14,8,43.33,26.32,55.56,37,13,15,9
27,2013,California,64,1424,61,44.07,45.45,43.75,41,18,11,7,32.20,30.00,65.38,42,11,12,3
28,2003,Connecticut,58,1140,53,32.69,28.57,74.07,41,8,14,3,31.25,11.76,84.62,41,11,11,8
29,2003,Connecticut,85,1390,74,45.59,60.00,80.95,43,12,9,4,43.55,34.78,70.59,33,12,11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817,2012,Creighton,58,1104,57,44.00,42.86,38.46,31,14,7,4,45.83,41.18,50.00,32,9,9,5
818,2013,Creighton,67,1153,63,45.24,46.67,88.00,32,16,16,2,42.19,25.00,44.44,31,12,9,9
819,2014,Creighton,76,1418,66,51.85,39.13,52.38,36,18,6,0,37.88,25.00,70.59,36,8,4,3
820,2012,Lehigh,75,1181,70,42.31,33.33,67.57,34,12,8,7,41.38,23.08,69.57,42,12,13,4
821,2012,Norfolk St,86,1281,84,54.24,52.63,66.67,37,14,11,2,52.73,44.83,76.47,25,15,8,6
822,2012,St Louis,61,1272,54,45.65,38.46,77.78,34,7,17,6,38.89,13.33,58.82,29,4,11,8
823,2013,St Louis,64,1308,44,46.30,36.36,71.43,33,17,10,10,27.87,12.50,61.54,42,10,16,9
824,2014,St Louis,83,1301,80,48.44,50.00,46.15,41,16,9,7,46.67,44.44,54.05,43,10,12,7
825,2013,NC A&T,73,1251,72,51.92,44.44,57.89,33,10,8,6,42.59,43.48,88.89,30,15,10,4
826,2013,James Madison,68,1254,55,46.43,34.78,66.67,39,17,11,3,35.59,18.75,71.43,35,11,11,7
827,2013,La Salle,80,1129,71,63.27,52.38,58.33,22,16,10,4,49.06,38.89,66.67,29,14,10,3
828,2013,La Salle,63,1243,61,42.86,38.89,87.50,30,12,8,4,42.11,30.77,52.94,36,12,9,6
829,2013,La Salle,76,1279,74,49.09,39.13,72.22,30,14,12,8,47.62,21.05,47.62,40,14,13,5
830,2013,Colorado St,84,1281,72,49.02,50.00,81.82,42,10,14,1,42.11,30.43,89.47,19,13,5,6
831,2013,Harvard,68,1307,62,52.38,44.44,80.00,26,11,13,3,37.50,21.43,70.83,34,8,11,12
832,2014,Harvard,61,1153,57,43.18,35.29,60.71,33,9,12,4,36.84,33.33,68.75,34,5,11,6
833,2013,FL Gulf Coast,78,1207,68,42.86,40.00,68.18,39,15,13,5,37.50,25.93,65.00,39,15,14,6
834,2013,FL Gulf Coast,81,1361,71,55.93,38.89,66.67,31,21,13,13,44.26,34.78,69.23,34,16,17,10
835,2013,Minnesota,83,1417,63,50.82,56.25,63.16,36,19,11,7,31.75,18.18,76.00,42,10,15,5
836,2013,Mississippi,57,1458,46,38.60,20.00,62.50,43,8,10,6,25.42,23.33,69.23,40,10,11,7
837,2015,Mississippi,94,1140,90,45.00,30.43,65.22,43,24,7,7,48.28,51.72,70.37,39,22,15,0
838,2014,Albany NY,71,1291,64,57.45,22.22,78.95,42,12,14,3,36.67,32.43,66.67,23,13,4,3
839,2014,Cal Poly SLO,81,1411,69,56.86,40.00,77.27,28,15,10,4,48.00,30.77,77.27,27,12,13,3
840,2014,N Dakota St,80,1328,75,52.94,42.86,90.91,38,12,15,5,34.72,40.00,72.22,37,14,10,5
841,2014,Mercer,78,1181,71,55.56,38.46,82.14,27,16,8,3,35.48,40.54,92.31,35,15,12,6
842,2014,SF Austin,77,1433,75,52.94,37.50,73.91,35,16,17,6,46.15,38.10,63.64,29,13,11,11
843,2015,Hampton,74,1264,64,49.06,42.86,55.88,37,20,14,6,37.10,24.00,57.14,41,15,17,5
844,2015,Robert Morris,81,1316,77,45.16,25.00,63.64,31,11,5,12,48.08,40.91,69.23,42,15,19,1
845,2015,Georgia St,57,1124,56,40.74,31.25,61.54,22,12,6,13,44.19,36.84,84.62,40,14,21,2
846,2015,Iowa,83,1172,52,50.72,37.50,70.00,46,12,5,3,33.33,21.43,40.00,30,13,6,1

In [336]:
# Rename identified columns of interest.
results_df2 = results_df2.rename(columns={'Season':'season','Team_Name':'winning_team','Wscore':'winning_score','Lteam':'losing_team','Lscore':'losing_score','Wast':'Winning_assists','Wto':'Winning_turnovers','Wstl':'Winning_steals',\
                         'Last':'Losing_assists','Lto':'Losing_turnover','Lstl':'Losing_steals'})
results_df2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,Alabama,68,1328,62,46.55,21.43,61.11,38,13,23,7,41.51,20.00,72.73,32,8,18,9
1,2003,Alabama,82,1106,56,48.98,50.00,70.59,38,13,13,7,34.55,38.10,83.33,29,8,15,6
2,2003,Alabama,80,1292,65,45.76,33.33,78.26,34,16,13,10,37.88,30.43,80.00,42,11,21,6
3,2003,Alabama,54,1326,48,28.07,28.00,71.43,43,12,13,6,32.00,33.33,63.64,37,12,13,3
4,2003,Alabama,89,1422,61,48.57,40.91,80.00,46,16,10,10,37.70,38.89,57.14,32,11,13,2

In [337]:
results_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71241 entries, 0 to 71240
Data columns (total 19 columns):
season                        71241 non-null int64
winning_team                  71241 non-null object
winning_score                 71241 non-null int64
losing_team                   71241 non-null int64
losing_score                  71241 non-null int64
Winning_field_goal_percent    71241 non-null float64
Winning_3_percent             71241 non-null float64
Winning_free_throw_percent    71237 non-null float64
Winning_total_rebounds        71241 non-null int64
Winning_assists               71241 non-null int64
Winning_turnovers             71241 non-null int64
Winning_steals                71241 non-null int64
Losing_field_goal_percent     71241 non-null float64
Losing_3_percent              71241 non-null float64
Losing_free_throw_percent     71216 non-null float64
Losing_total_rebounds         71241 non-null int64
Losing_assists                71241 non-null int64
Losing_turnover               71241 non-null int64
Losing_steals                 71241 non-null int64
dtypes: float64(6), int64(12), object(1)
memory usage: 10.9+ MB

In [338]:
# Merge tourney_df2 and teams_df to bring over the losing team names using the Team ID column and losing team column.
merged_results2 = pd.merge(results_df2, teams_df, left_on = 'losing_team', right_on = 'Team_Id')
merged_results2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,...,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals,Team_Id,Team_Name
0,2003,Alabama,68,1328,62,46.55,21.43,61.11,38,13,...,7,41.51,20.00,72.73,32,8,18,9,1328,Oklahoma
1,2007,Alabama,70,1328,55,45.83,36.36,91.67,31,11,...,8,36.51,23.81,44.44,40,12,15,7,1328,Oklahoma
2,2007,Memphis,77,1328,65,49.02,41.18,54.05,39,15,...,7,35.59,25.00,95.00,33,8,21,3,1328,Oklahoma
3,2008,Memphis,63,1328,53,38.60,32.00,47.83,41,10,...,9,38.18,26.67,58.33,36,12,19,9,1328,Oklahoma
4,2003,Texas,67,1328,61,39.06,35.71,60.00,42,10,...,5,42.31,50.00,66.67,34,5,14,5,1328,Oklahoma

In [339]:
# Reposition columns and rename dataframe.
results_df3 = merged_results2[['season','winning_team','winning_score','Team_Name','losing_score','Winning_field_goal_percent','Winning_3_percent','Winning_free_throw_percent','Winning_total_rebounds','Winning_assists',\
                               'Winning_turnovers','Winning_steals','Losing_field_goal_percent','Losing_3_percent','Losing_free_throw_percent','Losing_total_rebounds','Losing_assists','Losing_turnover','Losing_steals']].copy()
results_df3.head()

,season,winning_team,winning_score,Team_Name,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,Alabama,68,Oklahoma,62,46.55,21.43,61.11,38,13,23,7,41.51,20.00,72.73,32,8,18,9
1,2007,Alabama,70,Oklahoma,55,45.83,36.36,91.67,31,11,12,8,36.51,23.81,44.44,40,12,15,7
2,2007,Memphis,77,Oklahoma,65,49.02,41.18,54.05,39,15,18,7,35.59,25.00,95.00,33,8,21,3
3,2008,Memphis,63,Oklahoma,53,38.60,32.00,47.83,41,10,20,9,38.18,26.67,58.33,36,12,19,9
4,2003,Texas,67,Oklahoma,61,39.06,35.71,60.00,42,10,10,5,42.31,50.00,66.67,34,5,14,5

In [340]:
# Rename the column'Team_Name' to 'losing_team' and sort by season - ascending, winning score - descending, and winning team ascending. 
# Reset the index and drop old index.
results_df3 = results_df3.rename(columns={'Team_Name':'losing_team'})
sorted_results = results_df3.sort_values(by = ['season','winning_score','winning_team'], ascending = [True,False,True])
#df.sort_values(['a', 'b'], ascending=[True, False])
results_df4 = sorted_results.reset_index(drop=True)
results_df4

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,St Francis NY,142,Long Island,140,54.65,36.67,80.43,36,27,16,18,58.02,52.17,82.93,46,27,27,6
1,2003,Connecticut,117,UNC Asheville,67,62.67,45.45,68.42,46,26,13,11,33.82,28.57,72.22,32,8,22,4
2,2003,Troy,117,Stetson,70,57.53,44.12,72.00,46,26,14,11,29.85,25.00,80.00,39,10,21,7
3,2003,Connecticut,116,Sacred Heart,78,50.00,26.09,76.47,61,34,10,10,37.04,33.33,64.29,38,21,14,3
4,2003,Pepperdine,116,Ark Little Rock,110,48.81,40.62,63.64,53,26,14,7,46.07,31.03,59.38,53,24,10,11
5,2003,Kentucky,115,Tennessee St,87,53.09,42.31,72.00,52,31,21,12,52.31,48.00,58.33,21,18,22,13
6,2003,Georgia Tech,113,Ark Pine Bluff,75,50.00,35.29,59.18,63,27,12,10,40.91,44.00,66.67,33,16,19,6
7,2003,LSU,112,Centenary,65,70.31,60.00,72.22,39,27,12,8,41.67,26.32,100.00,16,12,15,4
8,2003,Ohio,112,Akron,104,46.84,38.10,61.22,61,25,25,9,44.00,22.22,77.27,40,16,16,19
9,2003,Wyoming,112,Savannah St,77,49.23,45.45,69.35,53,21,18,13,41.43,35.00,80.00,37,13,22,9
10,2003,Gonzaga,110,Washington St,104,57.38,50.00,83.78,42,18,21,5,48.68,48.65,75.00,28,21,16,10
11,2003,St Francis NY,110,Sacred Heart,92,66.10,47.83,70.00,35,24,15,11,44.29,42.86,77.78,34,22,15,6
12,2003,Villanova,110,Rutgers,89,57.63,56.52,85.29,41,20,25,6,46.38,42.31,58.33,30,12,19,12
13,2003,E Kentucky,109,Tennessee St,83,56.25,56.00,65.71,34,30,21,13,40.30,23.81,70.59,42,15,26,10
14,2003,Syracuse,109,Albany NY,79,63.38,61.11,72.73,50,28,17,8,42.25,42.42,71.43,18,19,9,11
15,2003,Appalachian St,108,ETSU,94,62.50,42.86,79.17,39,26,27,11,40.48,27.59,78.26,36,17,20,21
16,2003,Arizona St,108,USC,78,60.00,33.33,72.73,42,23,15,8,43.75,13.33,74.07,28,16,17,7
17,2003,Col Charleston,108,Appalachian St,96,52.38,42.86,78.95,35,15,8,7,47.14,25.00,69.70,43,21,13,4
18,2003,Maryland,108,Hampton,58,59.15,27.78,67.86,46,29,13,15,29.85,15.79,55.56,43,11,25,9
19,2003,Oregon,108,UC Riverside,67,51.39,42.86,89.29,46,20,20,14,38.71,40.00,81.25,28,11,28,7
20,2003,UAB,108,TAM C. Christi,74,52.70,31.82,74.19,38,24,17,18,37.31,18.75,72.41,47,8,33,10
21,2003,Appalachian St,107,Chattanooga,99,63.33,56.52,69.23,32,19,19,8,46.25,25.93,81.82,41,16,15,10
22,2003,Arizona,107,WKU,68,56.16,34.78,73.91,42,26,20,17,47.27,30.43,45.00,25,17,28,6
23,2003,Colorado,107,Stetson,74,55.56,43.75,71.43,61,21,26,1,34.67,26.32,70.83,28,11,16,14
24,2003,Fresno St,107,Nevada,99,50.00,42.86,68.42,46,17,17,3,52.31,30.43,60.00,38,9,13,10
25,2003,Georgia St,107,Tennessee St,71,49.25,33.33,75.56,44,18,9,6,39.39,18.75,69.57,36,8,18,6
26,2003,Howard,107,NC A&T,70,66.67,60.00,76.67,36,21,17,4,45.45,25.00,70.00,20,12,16,3
27,2003,Oregon,107,Florida A&M,66,58.21,43.48,67.86,44,30,14,11,27.12,23.53,71.43,38,5,18,9
28,2003,Texas A&M,107,ULM,66,64.91,50.00,69.44,33,28,13,14,41.18,30.00,63.64,37,19,25,8
29,2003,Texas Tech,107,Nicholls St,35,55.41,41.67,64.52,51,23,12,24,27.78,15.38,37.50,29,10,32,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71211,2016,UC Irvine,54,New Mexico St,52,38.89,36.36,61.54,30,12,7,7,41.51,36.84,100.00,35,14,16,3
71212,2016,Ark Pine Bluff,53,Grambling,51,41.86,20.00,61.90,34,11,11,6,33.33,23.53,59.38,33,7,13,7
71213,2016,Denver,53,IUPUI,51,41.46,12.50,62.96,29,8,16,7,36.73,18.18,81.25,33,9,14,8
71214,2016,Drexel,53,Penn,52,29.09,33.33,65.22,45,11,11,2,37.74,16.67,64.29,36,7,13,5
71215,2016,Northern Iowa,53,Wichita St,50,41.67,29.41,88.89,27,11,9,5,30.30,22.58,75.00,48,12,10,4
71216,2016,San Diego,53,San Diego St,48,33.33,37.04,63.64,35,12,11,9,31.25,30.77,70.00,36,9,13,5
71217,2016,TCU,53,Bradley,49,29.79,23.53,52.50,35,6,14,10,35.56,23.81,70.59,39,6,23,4
71218,2016,W Carolina,53,Wofford,48,40.43,28.57,55.00,33,11,10,7,34.55,36.84,50.00,39,11,14,4
71219,2016,Dayton,52,St Louis,49,31.67,24.00,53.33,45,7,17,7,28.30,25.00,65.00,39,7,17,7
71220,2016,East Carolina,52,South Florida,39,36.00,25.00,73.33,40,12,16,7,27.78,6.67,44.44,38,8,16,6
71221,2016,Grand Canyon,52,San Diego St,45,33.90,40.00,62.50,42,12,12,6,31.48,15.79,47.06,41,5,12,5
71222,2016,Savannah St,52,Florida A&M,40,38.30,10.00,60.87,40,10,15,7,24.49,10.53,60.87,33,6,18,6
71223,2016,Alabama,51,Clemson,50,34.43,35.00,40.00,44,14,15,7,37.50,28.57,71.43,30,12,11,8
71224,2016,Loyola MD,51,Lehigh,50,31.58,21.05,68.75,40,9,7,2,33.33,33.33,57.69,41,5,9,4
71225,2016,Loyola-Chicago,51,Northern Iowa,41,42.55,30.77,63.64,37,9,14,7,27.08,29.17,61.54,31,8,13,6
71226,2016,TAM C. Christi,51,Sam Houston St,48,34.43,26.32,66.67,37,10,15,12,35.85,33.33,25.00,39,11,21,9
71227,2016,Holy Cross,50,Harvard,49,30.19,25.00,81.25,35,11,9,4,37.25,33.33,37.50,40,14,14,6
71228,2016,Providence,50,Creighton,48,29.63,16.67,73.68,43,8,15,6,25.76,21.74,69.23,46,10,11,8
71229,2016,UC Davis,50,UC Riverside,49,34.55,25.00,53.33,36,9,11,8,27.66,21.05,76.00,40,8,15,9
71230,2016,Ark Little Rock,49,San Diego St,43,35.29,29.17,75.00,28,9,6,6,28.26,25.00,61.11,42,10,16,4
71231,2016,Georgia,49,High Point,46,29.55,28.57,85.00,40,6,16,4,29.69,6.67,41.18,41,8,10,3
71232,2016,Miami OH,49,Ball St,47,37.78,22.22,73.33,32,8,9,5,37.50,13.04,53.33,33,10,8,6
71233,2016,Ball St,48,Miami OH,46,36.36,38.89,90.00,29,10,17,5,38.46,44.44,70.59,27,6,17,7
71234,2016,St John's,48,Niagara,44,33.33,17.65,50.00,49,12,18,4,25.00,16.67,54.17,44,7,15,10
71235,2016,Northeastern,47,Towson,44,41.30,25.00,62.50,25,9,11,8,30.91,8.70,53.33,40,11,12,4
71236,2016,TAM C. Christi,47,Texas St,39,29.41,23.81,66.67,42,8,16,8,21.43,27.27,66.67,35,4,15,9
71237,2016,Ark Pine Bluff,45,Prairie View,44,41.30,18.75,28.57,41,10,19,6,26.42,21.05,66.67,33,8,11,11
71238,2016,Miami OH,45,W Michigan,44,33.33,13.33,75.00,32,3,15,4,31.11,21.74,61.11,30,8,9,8
71239,2016,Mt St Mary's,44,St Francis NY,40,29.09,13.33,66.67,30,3,10,9,28.85,22.73,55.56,49,5,24,6
71240,2016,Col Charleston,40,Towson,37,33.33,22.22,44.44,33,9,10,4,23.91,25.00,56.00,42,4,13,4

In [341]:
# Save new dataframe to a csv file.
tourney_df4.to_csv('tourney_new_clean.csv')

In [342]:
results_df4.to_csv('results_new_clean.csv')

In [343]:
connection_string = "postgres:@localhost:5432/marchmadness_db"
engine = create_engine(f'postgresql://{connection_string}')

In [344]:
tourney_df4.to_sql(name='tourney', con=engine, if_exists='append', index=True)

In [345]:
results_df4.to_sql(name='results', con=engine, if_exists='append', index=True)

In [346]:
teams_df.to_sql(name='teams', con=engine, if_exists='append', index=True)

In [347]:
engine.table_names()

['teams', 'tourney', 'results']

In [348]:
conn = engine.connect()