In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
teams_file = "Teams.csv"
teams_df = pd.read_csv(teams_file)
teams_df.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [3]:
teams_df = teams_df.rename(columns={"Team_ID": "id",
                                    "Team_Name": "Team"})
teams_df.head()

   Team_Id         Team
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [4]:
results_file = "results.csv"
results_df = pd.read_csv(results_file)
results_df.head()

,Wteam_name,Lteam_name,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,Alabama,Oklahoma,2003,10,1104,68,1328,62,N,0,...,10,16,22,10,22,8,18,9,2,20
1,Memphis,Syracuse,2003,10,1272,70,1393,63,N,0,...,24,9,20,20,25,7,12,8,6,16
2,Marquette,Villanova,2003,11,1266,73,1437,61,N,0,...,26,14,23,31,22,9,12,2,5,23
3,N Illinois,Winthrop,2003,11,1296,56,1457,50,N,0,...,22,8,15,17,20,9,19,4,3,23
4,Texas,Georgia,2003,11,1400,77,1208,71,N,0,...,16,17,27,21,15,12,10,7,1,14

In [5]:
tourney_file = "tourney.csv"
tourney_df = pd.read_csv(tourney_file)
tourney_df.columns

Index(['Wteam_name', 'Lteam_name', 'Season', 'Daynum', 'Wteam', 'Wscore',
       'Lteam', 'Lscore', 'Wloc', 'Numot', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Wblk', 'Wpf',
       'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl', 'Lblk', 'Lpf'],
      dtype='object')

In [6]:
results_columns= results_df[['Wteam_name', 'Lteam_name', 'Season', 'Wscore', 'Lscore', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl']].copy()

results_clean = results_columns.rename(columns={"Wteam_name": "winning_team",
                                                "Lteam_name": "losing_team",
                                                "Season": "season",
                                               "Wscore": "winning_score",
                                               "Lscore": "losing_score"
                                               })

results_clean.head()

,winning_team,losing_team,season,winning_score,losing_score,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lfga,Lfgm3,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl
0,Alabama,Oklahoma,2003,68,62,27,58,3,14,11,...,53,2,10,16,22,10,22,8,18,9
1,Memphis,Syracuse,2003,70,63,26,62,8,20,10,...,67,6,24,9,20,20,25,7,12,8
2,Marquette,Villanova,2003,73,61,24,58,8,18,17,...,73,3,26,14,23,31,22,9,12,2
3,N Illinois,Winthrop,2003,56,50,18,38,3,9,17,...,49,6,22,8,15,17,20,9,19,4
4,Texas,Georgia,2003,77,71,30,61,6,14,11,...,62,6,16,17,27,21,15,12,10,7

In [7]:
results_clean.to_csv('results_clean.csv')

In [8]:
tourney_columns= tourney_df[['Wteam_name', 'Lteam_name', 'Season', 'Wscore',
       'Lteam', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3',
       'Wftm', 'Wfta', 'Wor', 'Wdr', 'Wast', 'Wto', 'Wstl', 'Lfgm', 'Lfga', 'Lfgm3', 'Lfga3', 'Lftm', 'Lfta', 'Lor', 'Ldr', 'Last',
       'Lto', 'Lstl']].copy()

tourney_clean = tourney_columns.rename(columns={"Wteam_name": "winning_team",
                                                "Lteam_name": "losing_team",
                                                "Season": "season",
                                               "Wscore": "winning_score",
                                               "Lscore": "losing_score"})

tourney_clean.head()

,winning_team,losing_team,season,winning_score,Lteam,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lfga,Lfgm3,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl
0,UNC Asheville,TX Southern,2003,92,1411,32,69,11,29,17,...,67,12,31,14,31,17,28,16,15,5
1,Arizona,Vermont,2003,80,1436,31,66,7,23,11,...,64,4,16,7,7,8,26,12,17,10
2,Arizona St,Memphis,2003,84,1272,31,59,6,14,16,...,69,7,28,14,21,20,22,11,12,2
3,C Michigan,Creighton,2003,79,1166,29,53,3,7,18,...,60,7,17,12,17,14,17,20,21,6
4,California,NC State,2003,76,1301,27,64,7,20,15,...,56,9,21,15,20,10,26,16,14,5

In [9]:
tourney_clean.to_csv('tourney_clean.csv')

In [50]:
results_new_clean = "Results_new_clean.csv"
results_df = pd.read_csv(results_new_clean)
results_df.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnovers,Losing_steals
0,2003,Alabama,68,Oklahoma,62,46.551724,21.428571,61.111111,38,13,23,7,46.551724,20.000000,72.727273,32,8,18,9
1,2003,Memphis,70,Syracuse,63,41.935484,40.000000,52.631579,43,16,13,4,41.935484,25.000000,45.000000,45,7,12,8
2,2003,Marquette,73,Villanova,61,41.379310,44.444444,58.620690,43,15,10,5,41.379310,11.538462,60.869565,53,9,12,2
3,2003,N Illinois,56,Winthrop,50,47.368421,33.333333,54.838710,25,11,12,14,47.368421,27.272727,53.333333,37,9,19,4
4,2003,Texas,77,Georgia,71,49.180328,42.857143,84.615385,39,12,14,4,49.180328,37.500000,62.962963,36,12,10,7

In [51]:
tourney_new_clean = "Tourney_new_clean.csv"
tourney_df = pd.read_csv(tourney_new_clean)
tourney_df.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnover,Losing_steals
0,2003,UNC Asheville,92,TX Southern,84,46.376812,37.931034,65.384615,9226,17,12,5,43.283582,38.709677,45.161290,9712,16,15,5
1,2003,Arizona,80,Vermont,51,46.969697,30.434783,78.571429,9232,22,16,10,31.250000,25.000000,100.000000,9710,12,17,10
2,2003,Arizona St,84,Memphis,71,52.542373,42.857143,72.727273,9223,18,9,7,36.231884,25.000000,66.666667,9706,11,12,2
3,2003,C Michigan,79,Creighton,73,54.716981,42.857143,72.000000,9216,15,18,13,45.000000,41.176471,70.588235,9701,20,21,6
4,2003,California,76,NC State,74,42.187500,35.000000,65.217391,9216,17,13,8,44.642857,42.857143,75.000000,9710,16,14,5

In [45]:
connection_string = "postgres:Mrtubbs10@localhost:5432/march_madness2.0"
engine = create_engine(f'postgresql://{connection_string}')

In [46]:
engine.table_names()

[]

In [47]:
teams_df.to_sql(name='teams', con=engine, if_exists='append', index=True)

In [53]:
results_df.to_sql(name='results', con=engine, if_exists='append', index=True)

In [54]:
tourney_df.to_sql(name='tourney', con=engine, if_exists='append', index=True)

In [55]:
conn = engine.connect()

duke_2015_data = pd.read_sql("select * from results\
                    where season='2015' \
                    and winning_team='Duke'\
                    union\
                    select * from results\
                    where season='2015'\
                    and losing_team='Duke'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and winning_team='Duke'\
                    order by index asc", conn)
duke_2015_data

,index,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnovers,Losing_steals
0,801,2015,Duke,85,Robert Morris,56,62.962963,47.619048,50.000000,9227,28,11,7,36.363636,31.578947,50.000000,9700,13,8,6
1,824,2015,Duke,68,San Diego St,49,54.545455,42.857143,100.000000,9224,16,9,7,32.758621,15.384615,81.818182,9704,5,11,6
2,836,2015,Duke,63,Utah,57,44.444444,33.333333,76.923077,9219,5,14,6,35.000000,25.000000,73.333333,9702,8,15,8
3,842,2015,Duke,66,Gonzaga,52,37.500000,42.105263,84.210526,9218,10,3,8,44.000000,20.000000,66.666667,9711,8,13,1
4,844,2015,Duke,81,Michigan St,61,52.000000,20.000000,72.972973,9225,10,8,9,40.000000,35.000000,62.500000,9708,10,14,4
5,846,2015,Duke,68,Wisconsin,63,47.058824,36.363636,80.000000,9223,7,5,4,40.983607,33.333333,60.000000,9708,13,5,3
6,60542,2015,Duke,113,Presbyterian,44,60.869565,51.612903,81.250000,46,30,9,12,60.869565,8.333333,63.636364,21,7,17,6
7,60638,2015,Duke,109,Fairfield,59,64.516129,40.909091,71.428571,39,22,12,12,64.516129,14.285714,76.470588,20,9,18,4
8,60765,2015,Duke,81,Michigan St,71,54.000000,50.000000,76.923077,25,15,8,6,54.000000,25.000000,60.000000,35,15,13,2
9,60887,2015,Duke,74,Temple,54,39.062500,30.434783,65.384615,43,14,9,9,39.062500,8.333333,69.230769,40,6,17,5
10,60945,2015,Duke,70,Stanford,59,39.285714,36.000000,58.620690,41,16,10,9,39.285714,21.428571,85.714286,40,5,12,6
11,61187,2015,Duke,93,Furman,54,57.575758,37.931034,60.000000,40,24,7,5,57.575758,33.333333,83.333333,27,10,14,2
12,61402,2015,Duke,93,Army,73,51.666667,21.052632,72.972973,43,20,10,9,51.666667,43.750000,77.777778,25,14,14,4
13,61514,2015,Duke,80,Wisconsin,70,65.217391,58.333333,72.222222,28,11,10,6,65.217391,42.857143,80.952381,27,11,8,2
14,61956,2015,Duke,75,Elon,62,51.785714,18.750000,51.851852,40,14,17,12,51.785714,26.315789,87.500000,29,11,19,9
15,62043,2015,Duke,66,Connecticut,56,37.500000,26.315789,73.529412,40,10,19,7,37.500000,25.000000,53.846154,29,5,14,7
16,62409,2015,Duke,86,Toledo,69,55.769231,40.000000,73.333333,34,18,13,6,55.769231,33.333333,60.000000,28,10,13,4
17,62497,2015,Duke,84,Wofford,55,55.769231,50.000000,72.000000,34,13,8,10,55.769231,29.411765,72.727273,29,9,13,4
18,62604,2015,Duke,85,Boston College,62,47.368421,42.857143,75.862069,39,15,11,4,47.368421,23.076923,70.000000,34,10,12,6
19,62800,2015,Duke,73,Wake Forest,65,44.067797,44.444444,76.470588,39,12,14,5,44.067797,15.384615,70.000000,31,16,11,8
20,63053,2015,NC State,87,Duke,75,55.000000,62.500000,61.111111,37,18,10,3,55.000000,25.925926,76.923077,39,12,10,8
21,63095,2015,Miami FL,90,Duke,74,51.785714,50.000000,73.333333,31,14,11,12,51.785714,28.571429,50.000000,41,12,15,4
22,63263,2015,Duke,63,Louisville,52,48.837209,26.666667,73.913043,32,13,10,6,48.837209,16.000000,75.000000,38,7,10,4
23,63403,2015,Duke,79,Pittsburgh,65,46.153846,47.826087,80.000000,36,13,9,7,46.153846,30.000000,66.666667,32,16,11,5
24,63713,2015,Duke,77,St John's,68,48.148148,36.842105,66.666667,44,14,16,5,48.148148,26.666667,62.500000,29,13,9,10
25,63804,2015,Notre Dame,77,Duke,73,51.785714,44.444444,68.750000,33,17,11,6,51.785714,43.750000,50.000000,38,12,10,7
26,63922,2015,Duke,69,Virginia,63,50.909091,35.294118,53.846154,34,12,8,4,50.909091,23.076923,80.000000,35,11,7,4
27,64123,2015,Duke,72,Georgia Tech,66,45.614035,27.777778,62.500000,40,13,10,9,45.614035,72.727273,50.000000,33,11,14,7
28,64261,2015,Duke,90,Notre Dame,60,60.784314,60.000000,73.076923,40,18,9,5,60.784314,33.333333,35.294118,26,12,10,3
29,64393,2015,Duke,73,Florida St,70,45.098039,35.000000,76.923077,31,14,10,3,45.098039,50.000000,71.428571,31,14,13,5
30,64582,2015,Duke,80,Syracuse,72,47.368421,46.666667,86.363636,42,19,15,5,47.368421,36.363636,46.153846,32,15,9,8
31,64776,2015,Duke,92,North Carolina,90,50.769231,62.500000,51.612903,46,18,16,6,50.769231,20.000000,60.000000,49,21,11,9
32,64911,2015,Duke,78,Clemson,56,51.724138,35.000000,84.615385,33,15,11,10,51.724138,22.222222,66.666667,29,10,14,7
33,65102,2015,Duke,91,Virginia Tech,86,59.322034,43.478261,50.000000,31,18,9,7,59.322034,54.545455,80.000000,26,18,11,2
34,65243,2015,Duke,73,Syracuse,54,48.275862,34.782609,56.250000,42,18,17,7,48.275862,15.000000,76.470588,36,10,15,12
35,65426,2015,Duke,94,Wake Forest,51,57.627119,52.000000,81.250000,38,22,12,12,57.627119,27.777778,22.222222,22,9,19,7
36,65566,2015,Duke,84,North Carolina,77,45.762712,36.000000,80.769231,32,11,10,7,45.762712,50.000000,100.000000,32,16,16,5
37,65748,2015,Duke,77,NC State,53,56.603774,38.461538,92.307692,28,14,5,7,56.603774,27.777778,61.538462,34,12,9,3
38,65820,2015,Notre Dame,74,Duke,64,50.000000,25.000000,88.000000,27,13,10,7,50.000000,17.647059,50.000000,34,10,12,6

In [56]:
wisconsin_2015_data = pd.read_sql("select * from results\
                    where season='2015' \
                    and winning_team='Wisconsin'\
                    union\
                    select * from results\
                    where season='2015'\
                    and losing_team='Wisconsin'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and winning_team='Wisconsin'\
                    union\
                    select * from tourney\
                    where season='2015'\
                    and losing_team='Wisconsin'\
                    order by index asc", conn)
wisconsin_2015_data

,index,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_percent,Winning_3_percent,Winning_free_throw_percent,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_percent,Losing_3_percent,Losing_free_throw_percent,Losing_total_rebounds,Losing_assists,Losing_turnovers,Losing_steals
0,815,2015,Wisconsin,86,Coastal Car,72,54.098361,40.740741,75.000000,9220,14,9,5,48.275862,58.333333,81.818182,9702,9,6,8
1,831,2015,Wisconsin,72,Oregon,65,43.137255,30.434783,72.413793,9218,11,6,3,44.067797,42.105263,71.428571,9708,13,8,3
2,835,2015,Wisconsin,79,North Carolina,72,46.428571,33.333333,86.956522,9219,13,5,3,46.428571,61.538462,66.666667,9703,12,4,3
3,841,2015,Wisconsin,85,Arizona,78,55.555556,66.666667,74.193548,9213,11,9,5,55.813953,33.333333,93.333333,9703,8,10,5
4,845,2015,Wisconsin,71,Kentucky,64,47.916667,41.176471,81.818182,9218,10,10,1,48.148148,60.000000,90.000000,9700,7,6,5
5,846,2015,Duke,68,Wisconsin,63,47.058824,36.363636,80.000000,9223,7,5,4,40.983607,33.333333,60.000000,9708,13,5,3
6,60627,2015,Wisconsin,62,N Kentucky,31,48.936170,23.529412,60.000000,42,13,9,3,48.936170,12.500000,20.000000,28,4,10,5
7,60704,2015,Wisconsin,89,Chattanooga,45,53.333333,44.444444,73.913043,49,20,9,5,53.333333,27.272727,30.000000,21,7,11,7
8,60836,2015,Wisconsin,84,WI Green Bay,60,51.923077,35.294118,64.864865,45,13,7,4,51.923077,16.666667,66.666667,31,13,6,4
9,61004,2015,Wisconsin,78,Boise St,54,55.357143,37.037037,100.000000,29,16,5,5,55.357143,63.636364,55.555556,25,8,11,3
10,61235,2015,Wisconsin,72,UAB,43,51.923077,27.777778,59.090909,33,14,10,8,51.923077,21.052632,37.500000,32,7,19,4
11,61261,2015,Wisconsin,68,Georgetown,65,48.837209,37.500000,74.074074,26,9,14,6,48.837209,54.545455,69.230769,26,7,15,8
12,61324,2015,Wisconsin,69,Oklahoma,56,43.548387,32.142857,75.000000,32,19,11,12,43.548387,25.000000,89.473684,35,6,21,5
13,61514,2015,Duke,80,Wisconsin,70,65.217391,58.333333,72.222222,28,11,10,6,65.217391,42.857143,80.952381,27,11,8,2
14,61706,2015,Wisconsin,49,Marquette,38,32.692308,26.666667,77.777778,41,14,11,7,32.692308,42.857143,66.666667,28,9,10,4
15,61811,2015,Wisconsin,93,WI Milwaukee,54,60.937500,50.000000,77.777778,34,10,4,10,60.937500,37.500000,70.588235,28,10,14,3
16,61908,2015,Wisconsin,86,Nicholls St,43,51.851852,28.571429,74.285714,41,14,10,10,51.851852,20.000000,62.500000,26,8,21,5
17,62294,2015,Wisconsin,68,California,56,43.636364,27.272727,94.444444,39,8,6,2,43.636364,41.666667,69.230769,29,7,6,4
18,62401,2015,Wisconsin,68,Buffalo,56,42.372881,30.000000,92.307692,37,11,8,3,42.372881,55.555556,72.222222,32,6,9,2
19,62533,2015,Wisconsin,89,Penn St,72,63.829787,46.153846,82.142857,25,9,9,4,63.829787,41.666667,64.285714,22,7,9,5
20,62724,2015,Wisconsin,81,Northwestern,58,52.631579,48.000000,60.000000,37,23,7,2,52.631579,28.571429,75.000000,32,16,9,1
21,62835,2015,Wisconsin,62,Purdue,55,43.589744,21.428571,80.645161,21,6,8,6,43.589744,40.000000,42.857143,26,10,12,3
22,63059,2015,Rutgers,67,Wisconsin,62,54.347826,45.454545,80.000000,28,8,7,2,54.347826,23.809524,56.250000,31,11,5,1
23,63225,2015,Wisconsin,70,Nebraska,55,48.837209,52.380952,73.913043,27,9,6,1,48.837209,29.411765,57.142857,24,9,5,5
24,63445,2015,Wisconsin,82,Iowa,50,49.152542,40.909091,78.947368,37,16,1,6,49.152542,40.000000,40.000000,23,7,9,0
25,63701,2015,Wisconsin,69,Michigan,64,47.058824,33.333333,73.684211,30,12,8,4,47.058824,35.000000,91.666667,33,8,9,2
26,64045,2015,Wisconsin,74,Iowa,63,44.230769,36.842105,80.769231,35,9,6,5,44.230769,57.142857,65.000000,24,11,8,4
27,64108,2015,Wisconsin,92,Indiana,78,60.416667,54.545455,90.322581,22,15,6,3,60.416667,54.166667,81.818182,25,11,11,2
28,64368,2015,Wisconsin,65,Northwestern,50,38.888889,32.142857,82.352941,39,14,5,1,38.888889,28.571429,66.666667,25,8,5,2
29,64438,2015,Wisconsin,65,Nebraska,55,39.130435,27.777778,77.419355,38,9,8,3,39.130435,22.222222,70.000000,36,5,8,6
30,64719,2015,Wisconsin,68,Illinois,49,50.943396,35.714286,60.000000,32,11,4,6,50.943396,36.363636,81.818182,25,4,10,3
31,64811,2015,Wisconsin,55,Penn St,47,39.215686,22.727273,66.666667,37,12,8,3,39.215686,15.384615,100.000000,28,5,6,5
32,65018,2015,Wisconsin,63,Minnesota,53,46.938776,35.294118,78.571429,27,11,8,2,46.938776,33.333333,0.000000,29,7,11,4
33,65075,2015,Maryland,59,Wisconsin,53,48.000000,28.571429,81.818182,31,8,6,5,48.000000,27.272727,58.333333,31,6,8,3
34,65374,2015,Wisconsin,68,Michigan St,61,52.000000,28.571429,80.000000,35,10,8,3,52.000000,52.941176,44.444444,24,14,7,3
35,65519,2015,Wisconsin,76,Minnesota,63,50.000000,50.000000,83.333333,33,18,9,3,50.000000,37.500000,77.777778,33,12,8,5
36,65680,2015,Wisconsin,72,Ohio St,48,50.000000,33.333333,100.000000,41,10,9,5,50.000000,20.000000,64.285714,27,9,9,7
37,65839,2015,Wisconsin,71,Michigan,60,49.019608,36.842105,87.500000,34,13,7,4,49.019608,40.000000,0.000000,19,13,5,5
38,65865,2015,Wisconsin,71,Purdue,51,47.272727,36.363636,91.666667,35,18,3,5,47.272727,50.000000,100.000000,27,12,9,3
39,65871,2015,Wisconsin,80,Michigan St,69,48.076923,50.000000,85.000000,23,18,7,7,48.076923,42.857143,100.000000,32,16,13,3

In [57]:
duke_2015_data.to_csv("duke_2015_data.csv")
wisconsin_2015_data.to_csv("wisconsin_2015_data.csv")